example-workflow.json
{
  "name": "OPC UA Example - Read and Write",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds",
              "secondsInterval": 10
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Every 10 seconds",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "operation": "read",
        "nodeIds": "ns=1;s=Simulation.Temperature,ns=1;s=Simulation.Pressure,ns=1;s=Simulation.MachineState,ns=1;s=Simulation.ProductionCount"
      },
      "id": "opcua-read",
      "name": "Read OPC UA Tags",
      "type": "@fiqch/n8n-nodes-fiq-opcua.opcUa",
      "typeVersion": 1,
      "position": [
        460,
        300
      ],
      "credentials": {
        "opcUaApi": {
          "id": "1",
          "name": "OPC UA Simulation Server"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.Temperature }}",
              "operation": "larger",
              "value2": 22
            }
          ]
        }
      },
      "id": "if-temp-high",
      "name": "Temperature > 22°C?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "operation": "write",
        "nodeValues": {
          "nodeValue": [
            {
              "nodeId": "ns=1;s=Simulation.PumpStatus",
              "value": "true",
              "dataType": "Boolean"
            }
          ]
        }
      },
      "id": "opcua-write-on",
      "name": "Turn Pump ON",
      "type": "@fiqch/n8n-nodes-fiq-opcua.opcUa",
      "typeVersion": 1,
      "position": [
        900,
        200
      ],
      "credentials": {
        "opcUaApi": {
          "id": "1",
          "name": "OPC UA Simulation Server"
        }
      }
    },
    {
      "parameters": {
        "operation": "write",
        "nodeValues": {
          "nodeValue": [
            {
              "nodeId": "ns=1;s=Simulation.PumpStatus",
              "value": "false",
              "dataType": "Boolean"
            }
          ]
        }
      },
      "id": "opcua-write-off",
      "name": "Turn Pump OFF",
      "type": "@fiqch/n8n-nodes-fiq-opcua.opcUa",
      "typeVersion": 1,
      "position": [
        900,
        400
      ],
      "credentials": {
        "opcUaApi": {
          "id": "1",
          "name": "OPC UA Simulation Server"
        }
      }
    }
  ],
  "connections": {
    "Every 10 seconds": {
      "main": [
        [
          {
            "node": "Read OPC UA Tags",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read OPC UA Tags": {
      "main": [
        [
          {
            "node": "Temperature > 22°C?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Temperature > 22°C?": {
      "main": [
        [
          {
            "node": "Turn Pump ON",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Turn Pump OFF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {}
}

